<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="ProvenanceCollectorJobPlugin"
   	iconfile="ufrj.png"
   	description="Provenance Agent"
   	tooltip="Gather provenance data during a Job execution to staging tables."
   	category="UFRJ_PPGI_GRECO"
   	classname="br.ufrj.ppgi.greco.job.entry.provenancecollector.JobEntryProvenanceCollector">
   	
   	<libraries>
   		<library name="ProvenanceCollectorJob.jar" />
		<library name="SparqlPlugin.jar" />
	</libraries>
	   
</plugin>