<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="ProvenanceCollectorJobPlugin"
   	iconfile="provenance.png"
   	description="Provenance Collector Agent"
   	tooltip="Collects provenance data during a Job execution to database tables."
   	category="UFRJ_PPGI_GRECO"
   	classname="br.ufrj.ppgi.greco.job.entry.provenancecollector.JobEntryProvenanceCollector">
   	
   	<libraries>
   		<library name="provenancecollectorjob.jar" />
		<library name="DataPropertyMapping.jar" />
		<library name="KettlePluginTools.jar" />
		<library name="NTripleGenerator.jar" />
		<library name="ObjectPropertyMapping.jar" />
		<library name="SparqlPlugin.jar" />
		<library name="SparqlUpdate.jar" />
		<library name="SparqlUpdatePlugin.jar" />				
	</libraries>	   
</plugin>